html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0px;
  height: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 500ms;
}
a:hover {
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.733);
  transform: scale(2);
}

* {
  box-sizing: border-box;
}
