$primaryColor: rgb(125, 255, 125);
$secondaryColor: rgb(39, 39, 39);
.pic {
  border-radius: 100%;
  border: white solid 3px;
  transition-duration: 1s;
}
.pic:hover {
  transform: scale(1.1);
}
.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $secondaryColor;
  color: $primaryColor;
  text-align: center;
  padding: 40px 10px;
}

@mixin virtualSquareBottom {
  content: "";
  width: 24px;
  height: 24px;
  border-top: 2px solid $primaryColor;
  position: absolute;
  z-index: 100;
  bottom: -12px;
  left: -11px;
  background-color: $secondaryColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@mixin virtualSquareTop {
  content: "";
  width: 26px;
  height: 27px;
  border-bottom: 2px solid $primaryColor;
  position: absolute;
  top: -14px;
  right: -13px;
  background-color: $secondaryColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slogan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  font-size: 15px;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  nav {
    flex-grow: 1;
  }
}
.topMenu {
  display: flex;
  direction: row;
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  min-height: 40px;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 100%;
  text-align: center;
  li {
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    a {
      white-space: nowrap;
      flex: 1;
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }
}

.navigation {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.308);
  padding: 5px;
  ul {
    @extend .topMenu;
  }
}

.about {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: auto;
  justify-content: space-around;
  section {
    width: 45%;
    min-width: 300px;
    blockquote {
      margin: 10px 0px;
    }
  }
  max-width: 1000px;
  .occupation {
    text-align: right;
  }
  @media screen and (max-width: 600px) {
    section {
      padding: 0px 30px;
      width: 100%;
      min-width: 300px;
    }
    .occupation {
      text-align: left;
    }
  }
}
.aboutMe {
  margin-top: 30px;
  padding: 0px 30px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    max-width: 1000px;
  }
}

$animationSpeed: 50s;

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  section {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    position: relative;
  }
  .skillList {
    list-style-type: none;
    display: flex;
    padding: 0px;
    width: auto;
    position: relative;
    animation: scroll $animationSpeed linear infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    li {
      transition-duration: 1s;
      width: 250px;
      z-index: 99;
    }

    li:hover {
      transform: scale(1.2);
    }
  }
}

.name {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px $primaryColor;
}

.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  nav {
    min-width: 300px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px;
}

.verticalMenu {
  list-style-type: none;
  padding: 0;
  li {
    padding: 5px 0px;
  }
}

.contactForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-width: 300px;
      padding: 25px;
      position: relative;
      textarea {
        background-color: $secondaryColor;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        outline: none;
        padding: 8px;
        font-family: courier new;
      }
      input {
        flex-grow: 1;
        background-color: $secondaryColor;
        outline: none;
        border: none;
        border-bottom: $primaryColor solid 1px;
        color: $primaryColor;
      }
      label {
        margin-bottom: 10px;
      }
    }
  }
}

.contact {
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: monospace;
  padding: 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $primaryColor;
  outline: none;
  padding: 10px 30px;
  font-family: monospace;
  border: none;
  width: 200px;
  transition-duration: 0.5s;
}

.button:hover,
.button:active,
.button:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px $primaryColor;
  transform: scale(1.1);
  color: $primaryColor;
}

.services {
  padding: 30px 30px 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    li {
      min-width: 250px;
      width: 48%;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.308);
      padding: 20px;
      border-radius: 20px;
      transition-duration: 1s;
    }
    li:hover {
      transform: scale(1.05);
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;
  color: $primaryColor;
  width: 100%;
  align-items: center;
  padding: 50px 0px 30px 0px;
  font-family: monospace;
  ul {
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    li {
      min-width: 250px;
      width: 40%;
      margin: 20px 10px;
      padding: 0px;
      position: relative;
      transition-duration: 1s;
      section {
        padding: 20px;
        border: 2px solid $primaryColor;
        width: 100%;
        height: 100%;
        h3 {
          margin-top: 0px;
        }
      }
      &:hover {
        transform: scale(1.05);
      }
      section::before {
        @include virtualSquareBottom();
      }
      section::after {
        @include virtualSquareTop();
      }
    }
  }
}

.inputPhone {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  justify-content: space-around;
  flex-grow: 1;
  border: none;
  padding: 0;
  width: 100%;
  .areaCode {
    position: relative;
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
    input {
      min-width: 30px;
    }
  }
  .phone {
    position: relative;
    width: 80%;
    display: flex;
    input {
      width: 100%;
    }
  }
}
