.pic {
  border-radius: 100%;
  border: white solid 3px;
  transition-duration: 1s;
}
.pic:hover {
  transform: scale(1.1);
}
.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: black;
  color: rgb(0, 255, 0);
  text-align: center;
  padding: 40px 10px;
}

@mixin virtualSquareBottom {
  content: "";
  width: 24px;
  height: 24px;
  border-top: 2px solid rgb(0, 255, 0);
  position: absolute;
  z-index: 100;
  bottom: -12px;
  left: -11px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@mixin virtualSquareTop {
  content: "";
  width: 26px;
  height: 27px;
  border-bottom: 2px solid rgb(0, 255, 0);
  position: absolute;
  top: -14px;
  right: -13px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slogan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  font-size: 15px;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  nav {
    flex-grow: 1;
  }
}
.topMenu {
  display: flex;
  direction: row;
  flex-grow: 1;
  padding: 5px;
  list-style-type: none;
  text-transform: capitalize;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  li {
    min-width: 100px;
  }
}

.navigation {
  ul {
    @extend .topMenu;
  }
}

.about {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  section {
    width: 45%;
    min-width: 300px;
  }
  .occupation {
    text-align: right;
  }
  @media screen and (max-width: 600px) {
    section {
      padding: 0px 30px;
      width: 100%;
      min-width: 300px;
    }
    .occupation {
      text-align: left;
    }
  }
}
.aboutMe {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$animationSpeed: 20s;
$skillsCount: 10;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(250px * -#{$skillsCount}/ 2));
  }
}

// Styling
.skills {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  .skillList {
    list-style-type: none;
    display: flex;
    width: auto;
    position: relative;
    li {
      animation: scroll $animationSpeed ease-in-out infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      width: 250px;
      transition-duration: 1s;
      z-index: 99;
    }

    li:hover {
      transform: scale(1.2);
    }
  }
}

.name {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(0, 255, 0);
}

.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  nav {
    min-width: 300px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px;
}

.verticalMenu {
  list-style-type: none;
  padding: 0;
  li {
    padding: 5px 0px;
  }
}

.contactForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-width: 300px;
      padding: 25px;
      position: relative;
      textarea {
        background-color: #000;
        border: 1px solid rgb(0, 255, 0);
        color: #00ff00;
        outline: none;
        padding: 8px;
        font-family: courier new;
      }
      input {
        flex-grow: 1;
        background-color: black;
        outline: none;
        border: none;
        border-bottom: rgb(0, 255, 0) solid 1px;
        color: rgb(0, 255, 0);
      }
      label {
        margin-bottom: 10px;
      }
    }
  }
}

.contact {
  background-color: black;
  color: rgb(0, 255, 0);
  font-family: monospace;
  padding: 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(0, 255, 0);
  outline: none;
  padding: 10px 30px;
  font-family: monospace;
  border: none;
  width: 200px;
  transition-duration: 0.5s;
}

.button:hover,
.button:active,
.button:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(0, 255, 0);
  transform: scale(1.1);
  color: rgb(0, 255, 0);
}

.services {
  padding: 30px 30px 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    li {
      min-width: 300px;
      width: 48%;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.308);
      padding: 20px;
      border-radius: 20px;
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: rgb(0, 255, 0);
  width: 100%;
  align-items: center;
  padding: 50px 0px 30px 0px;
  font-family: monospace;
  ul {
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    li {
      min-width: 300px;
      width: 40%;
      margin: 20px 10px;
      padding: 0px;
      position: relative;
      section {
        padding: 20px;
        border: 2px solid rgb(0, 255, 0);
        width: 100%;
        height: 100%;
        h3 {
          margin-top: 0px;
        }
      }
      section::before {
        @include virtualSquareBottom();
      }
      section::after {
        @include virtualSquareTop();
      }
    }
  }
}
